[build]
builder = "nixpacks"
buildCommand = "npm install && npx prisma generate && npx prisma db push && node prisma/seed.js && npm run build:next"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
